.header-container {
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #8458B3;
  border-bottom:2px solid
}

.header-container .sub-menu {
  color: black;
  position: absolute;
  right: 2px;
  top: 52px;
  background-color: white;
  padding: 15px;
  border-radius: 5px;
}

.sub-menu li {
  padding: 10px;
}

.sub-menu li:hover {
  background-color: rgb(209, 208, 208);
  border-radius: 5px;
  cursor: pointer;
}

.open {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.close {
  overflow: visible;
  cursor: pointer;
}

li {
  list-style: none;
}
